.showcase {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.showcaseTopText {
    padding: 5px 10%;
}

.showcaseItems {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    height: 500px;
    text-align: left;
}

.showcaseItems > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    background-position: center;
    background-size: cover;
    border-radius: 0 10px;
    padding: 0 30px 30px 30px;
}

.audio {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.6)),
        url(/images/audio.png);
}

.video {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url(/images/video.jpg);
}

.image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.6)),
        url(/images/image.jpg);
}

.feature {
    margin-bottom: 15px;
}

.featureFirst {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureFirstText {
    flex: 5;
}

@media only screen and (min-width: 1024px) {
    .featureFirstText {
        flex: 2;
        margin-right: 15%;
    }
}

.featureFirstImage {
    flex: 1;
}

.featureSecond {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureSecondText {
    flex: 2;
}

@media only screen and (min-width: 1024px) {
    .featureSecondText {
        flex: 2;
        margin-left: 15%;
    }
}

.featureSecondImage {
    flex: 1;
}
