* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Segoe UI, sans-serif;
    box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
    .pageExceptBottom {
        margin: 0 10%;
    }
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

.pageExceptBottom {
    padding: 2% 5%;
}

.mainContainer {
    background: linear-gradient(
            to right,
            rgb(0, 0, 0),
            rgba(0, 0, 0, 0.333),
            rgb(0, 0, 0)
        ),
        url("../images/topBackground.png") right center / cover no-repeat;
    padding-bottom: 20%;
    height: 70vh;
    position: relative;
}

#logo {
    padding: 1% 0 15% 0;
}

.slogan {
    margin-bottom: 2%;
}

.sloganSubtext {
    margin-bottom: 2%;
    font-size: 22px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#email {
    padding: 13px;
    width: 80%;
    border-radius: 0 10px;
    color: black;
    outline: none;
}

.submitEmail {
    padding: 14px;
    border: none;
    border-radius: 0 10px;
    background-color: rgba(154, 0, 86);
    font-weight: 800;
    cursor: pointer;
}

@media only screen and (min-width: 770px) {
    #email {
        width: 30vw;
    }
}
